@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900,&display=swap");
@import url("https://fonts.googleapis.com/css?family=Philosopher:regular,italic,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Marck+Script:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Stalinist+One:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Supermercado+One:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900,&display=swap");

body {
	font-family: 'Roboto';
	font-weight: normal;
	color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.main {
	background: url("../img/BGImage.jpg") 0 0 no-repeat;
	position: relative;
	/* width: 100%;
	height: 800px; */
	margin: 0 auto;
	max-width: 1440px;
	padding-top: 391px;
	padding-bottom: 200px;
}
.sample-doggie {
	max-width: 1020px;
	background: #5D62B5;
	border-radius: 40px;
	margin: 0 auto;
	padding: 100px 0px 354px 0px;
	position: relative;
	top: -80px;
}
.sample-doggie__container {
	width: 846px;
	margin: 0 auto;
}
.sample-doggie::before {
	content: "";
	background: url("../img/StylizeCircles.svg") 0 0 no-repeat;
	position: absolute;
	width: 201px;
	height: 317px;
	right: -76px;
	top: -109px;
}
.sample-doggie::after {
	content: "";
	background: url("../img/Blob2.svg") 0 0 no-repeat;
	position: absolute;
	width: 665px;
	height: 591px;
	left: 51px;
	bottom: -250px;
}
.sample-doggie__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 2.5px;
	position: relative;
	padding-left: 33px;
	margin-bottom: 33px;
}
.sample-doggie__title::before {
	content: "";
	background: url("../img/Mark.svg") center no-repeat;
	position: absolute;
	width: 17px;
	height: 16px;
	left: 0;
	top: 4px;
}
.sample-doggie__sub-title {
	max-width: 583px;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 36px;
}
.sample-doggie__paragraph {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}
/* .sample-doggie__content {
} */
.sample-doggie__image {
	max-width: 846px;
	height: 420px;
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
	border-radius: 40px;
	bottom: -120px;
	position: absolute;
	z-index: 1;
}


