@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900,&display=swap");

body {
	font-family: 'Roboto';
	font-weight: normal;
	color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.main {
	max-width: 100%;
	padding-bottom: 200px;
}
.main__image {
	width: 100%;
}
.sample-doggie {
	max-width: 1020px;
	background: #5D62B5;
	border-radius: 40px;
	margin: 0 auto;
	padding: 100px 0px 354px 0px;
	position: relative;
	top: -80px;
}
.sample-doggie__container {
	max-width: 846px;
	margin: 0 auto;
}
.sample-doggie__container::before {
	content: "";
	background: url("../img/StylizeCircles.svg") 0 0 no-repeat;
	position: absolute;
	width: 201px;
	height: 317px;
	right: -76px;
	top: -109px;
}
.sample-doggie__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 2.5px;
	position: relative;
	padding-left: 33px;
	margin-bottom: 33px;
}
.sample-doggie__title::before {
	content: "";
	background: url("../img/Mark.svg") center center no-repeat;
	position: absolute;
	width: 17px;
	height: 16px;
	left: 0px;
	top: 4px;
	transition: all 0.3s ease 0s;
}
.sample-doggie__title:hover::before {
	transform: scale(1.9);
}
.sample-doggie__sub-title {
	max-width: 583px;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 36px;
}
.sample-doggie__paragraph {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}
.sample-doggie__content {
}
.sample-doggie__content::before {
	content: "";
	background: url("../img/Blob2.svg") 0px 0px no-repeat;
	position: absolute;
	width: 665px;
	height: 591px;
	left: 51px;
	bottom: -250px;
}
.sample-doggie__image {
	max-width: 100%;
	height: 420px;
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
	border-radius: 40px;
	bottom: -120px;
	position: absolute;
	z-index: 1;
}